/* 全局設定 */
html{
    font-size: 1.2rem;
}
ol {
    counter-reset: item;
    list-style-type: none;
}

ol li::before {
    counter-increment: item;
    content: counters(item, "-") " "; 
    font-weight: bold;
    margin-right: 0.3125rem; 
    color: #007BFF;
}
/* 區塊調整 */

/* Block1 */
.block1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 100px;
    height: 100%;
    color: black;
    h1{
        text-align: center;  
    }
}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    color: #333;
    list-style-type: none;
    ol li{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #555;
    }
    ol{
        margin-left: 1.25rem;
    }
}
.ban::before {
    content: "# "; /* 在標題前添加 # 符號 */
    font-weight: bold; /* 可以選擇加粗 */
    color: #007BFF; /* 你可以設定顏色 */
}

@media (max-width: 700px){
    .block1 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 10px;
        margin-top: 70px;
    }
}