/* 區塊調整 */

/* Block1 */
.block1{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 100px;
    a{
        padding: 5px 50px;
        background-color: #D4895E;
        font-size: 25px;
        border-radius: 10px;
        color: black;
        text-decoration: none;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.3rem;
    }
}
.sponsorshipfeedback-btn{
    display: flex;
    justify-content: center;
}
.block2{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 100px;
    
}
.block2-head{
    display: flex;

}
.PayPal{
    margin: 30px 0px;
    display: flex;
}
.Bank{
    display: flex;
}
.sponsor-content{
    margin: 0px 25px;
    a{
        color: black;
    }
}
@media (max-width: 900px){
    .PayPal{
        display: block;
    }
    .Bank{
        display: block;
    }
    .sponsor-content{
        margin: 0px;
    }
}
@media (max-width: 700px){
    .block1 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 10px;
        margin-top: 70px;
    }
    .block2 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 10px;
        margin-top: 70px;
    }
}