iframe{
    height: 100%;
    width: 100%;
}
.block1 {
    margin: 0 auto;
    height: 80vh;
    width: 80vw;
    padding: 10px 0px;
    text-align: center;  
    color: black;
    h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.8rem;
    }
}

@media (max-width: 700px){
    .block1 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 10px;
        margin-top: 70px;
    }
}
